:root {
    --main-red: #e2001a;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
}

.topbar {
    background: var(--main-red);
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
    font-weight: bold;
}

.topbar .logo img {
    height: 40px;
}

.top-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.small-link {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.container {
    display: flex;
    padding: 30px;
    gap: 40px;
}

.left-panel {
    width: 300px;
    background: var(--main-red);
    padding: 20px;
    border-radius: 6px;
    color: white;
}

.left-panel h3 {
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.white-btn {
    background: white;
    color: var(--main-red);
}

.desc-title {
    margin-top: 25px;
}

.desc-box {
    width: 95%;
    height: 200px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    padding: 10px;
    resize: none;
}

.questionnaire-panel {
    flex: 1;
    background: var(--main-red);
    border-radius: 6px;
    padding: 30px;
    color: white;
    text-align: center;
    min-height: 500px;
}

.title-box {
    background: var(--main-red);

    padding: 12px;
    border-radius: 4px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid white;
    font-size: 18px;
    text-align: center;
    color: white;
}

.hint {
    margin-top: 80px;
    font-size: 16px;
    opacity: 0.9;
}

.footer-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 20px 40px;
}

.footer-actions .btn {
    width: 10%;
    padding: 8px 18px;
    font-size: 14px;
}

.red-btn {
    background: var(--main-red);
    color: white;
}

.blue-btn {
    background: #007bba;
    color: white;
}

.small-btn {
    width: 15%;
    padding: 8px 18px;
    font-size: 14px;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider-container {
    display: flex;
    flex-direction: column;
    max-width: 240px;
}

.rating-slider {
    width: 100%;
}

.slider-numbers {
    display: flex;
    justify-content: space-between;
    padding: 0 8px; 
    font-size: 0.85rem;
    color: #666;
}

.containerRating {
    display: flex;
    flex-direction: column;
    align-items: center;     
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    gap: 12px;               
}

.containerRating li {
    width: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.header-row  {
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: center;  
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
