:root{
    --text-font: Verdana, sans-serif;
    --background-color:#e40202;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    font-family: var(--text-font);
    color:white;
    background-color: var(--background-color);
}
.main-header{
   background-color: var(--background-color);
   height: auto;
   width: 100%;
}
.header-site{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header-logo{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px
}
#red-line{
    width: .4px; 
    background-color: #ffacac; 
    height: 30px;
    border-radius: 2px;
}

#header-logout{
    margin-right: 10%;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
#header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
#header-logout:hover{
    background-color: rgba(227, 214, 214, 0.229);
}
#header-logout:hover #logout{
    color: #000000;
}
#header-logout:hover img{
    filter: brightness(0);
}
#logout{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
#header-logout img{
    filter: brightness(0) invert(1);

}
#notif{
    
    width: 200%;
    filter: brightness(0) invert(1);

}
#header-notif:hover {
    filter: brightness(1) invert(1);
}
