:root{
    --text-font: Verdana, sans-serif;
    --background-color:#e40202;
}
header {
    font-family: var(--text-font);
}
.main-header{
   background-color: var(--background-color);
   height: auto;
}
.header-site{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
#red-line{
    width: .4px; 
    background-color: #ffacac; 
    height: 30px;
    border-radius: 2px;
}

#header-logout{
    margin-right: 10%;
    display: flex;
    align-items: center;
    gap: 0px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
#header-logout:hover{
    background-color: rgba(80, 0, 0, 0.2);
}
#header-logout:hover #logout{
    color: #000000;
}
#header-logout:hover img{
    filter: brightness(0);
}
#logout{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
#header-logout img{
    filter: brightness(0) invert(1);
}
